Unity/Library
Unity/Temp
VisualStudio/SimpleTest/SimpleClassLibrary/obj
VisualStudio/SimpleTest/SimpleConsole/obj
SimpleTest.suo
VisualStudio/SimpleTest/SimpleConsoleObfuscated/obj
VisualStudio/SimpleTest/SimpleClassLibrary/bin
VisualStudio/SimpleTest/SimpleConsole/bin
VisualStudio/SimpleTest/SimpleConsoleObfuscated/bin
